<kt-portlet>
  <kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTools>
      <a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10"  mat-raised-button matTooltip="Back to the products list">
        <i class="la la-arrow-left"></i>
        <span class="kt-hidden-mobile">Back</span>
      </a>
      <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" mat-raised-button matTooltip="Reset changes">
        <i class="la la-cog"></i>
        <span class="kt-hidden-mobile">Reset</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
        <span class="kt-hidden-mobile">Save</span>
      </a>
      <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
        <button mat-menu-item color="primary">Save & Duplicate</button>
        <button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
      </mat-menu>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
  <!--begin::Form-->
  <form [formGroup] = "userForm" class="kt-form kt-form--group-seperator-dashed">

    <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
      Oh snap! Change a few things up and try submitting again.
    </kt-alert>

    <div class="kt-form__section kt-form__section--first">
      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Tracker" value="123" disabled>
              <mat-error>
                Tracker is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Tracker</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Activity ID" value="123" disabled>
              <mat-error>
                Activity ID is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Activity ID</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Name" formControlName="name">
              <mat-error>
                Name is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Name ID</strong>
              </mat-hint>
            </mat-form-field>
          </div>

        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">

            <div class="col-md-4 kt-margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select placeholder="Enter Type" formControlName="type">
                  <mat-option value="Russia" >Run</mat-option>
                  <mat-option value="England" >Speed Run</mat-option>
                </mat-select>
                <mat-error>
                  Type
                  <strong>required</strong>
                </mat-error>
                <mat-hint align="start">Please enter
                  <strong>Type</strong>
                </mat-hint>
              </mat-form-field>
            </div>

            <div  class="col-md-4 kt-margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dateCreate">
                <mat-error>
                  Date create is
                  <strong>required</strong>
                </mat-error>
                <mat-hint align="start">Please enter
                  <strong>Date create</strong>
                </mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div  class="col-md-4 kt-margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput [matDatepicker]="picker1" placeholder="Choose a date" formControlName="dateDone">
                <mat-error>
                  Date done is
                  <strong>required</strong>
                </mat-error>
                <mat-hint align="start">Please enter
                  <strong>Date done</strong>
                </mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
        </div>
      </div>

      </div>
      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input type="number" matInput placeholder="Enter Distance" formControlName="distance">
              <mat-error>
                Distance is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Distance</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input type="time" matInput placeholder="Enter Time" formControlName="time">
                <mat-error>
                  Time is
                  <strong>required</strong>
                </mat-error>
                <mat-hint align="start">Please enter
                  <strong>Time</strong>
                </mat-hint>
              </mat-form-field>
            </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input type="number" matInput placeholder="Enter Elevation, m" formControlName="elevation">
              <mat-error>
                Elevation, m is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Elevation, m</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          </div>
        </div>

      <div class="kt-form__group">
        <div class="row">
          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input type="time" matInput placeholder="Enter Pace" value="123" disabled >
              <mat-error>
                Pace
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Pace</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input type="number" matInput placeholder="Enter ERun" value="123" disabled>
              <mat-error>
                ERun
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>ERun</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter Status" formControlName="status">
                <mat-option value="Disable" >Disable</mat-option>
                <mat-option value="Active" >Active</mat-option>
              </mat-select>
              <mat-error>
                Status
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Status</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          </div>

      </div>

      <div class="kt-form__group">
        <div class="row">
          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input type="number" matInput placeholder="Enter Heart rate" formControlName="heartRate">
              <mat-error>
                Heart rate
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Heart rate</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

  </form>
  </kt-portlet-body>
</kt-portlet>
