<kt-portlet>
  <kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTools>
      <a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10"  mat-raised-button matTooltip="Back to the products list">
        <i class="la la-arrow-left"></i>
        <span class="kt-hidden-mobile">Back</span>
      </a>
      <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" mat-raised-button matTooltip="Reset changes">
        <i class="la la-cog"></i>
        <span class="kt-hidden-mobile">Reset</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
        <span class="kt-hidden-mobile">Save</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="warn" (click)="onSumbit(false)" mat-raised-button matTooltip="Delete">
        <span class="kt-hidden-mobile">Delete</span>
      </a>
      <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
        <button mat-menu-item color="primary">Save & Duplicate</button>
        <button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
        <button mat-menu-item color="primary">Delete</button>
      </mat-menu>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <!--begin::Form-->
    <form [formGroup]="achievementForm" class="kt-form kt-form--group-seperator-dashed">

      <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
        Oh snap! Change a few things up and try submitting again.
      </kt-alert>

      <div class="kt-form__section kt-form__section--first row">
        <div class="col">
          <mat-form-field class="example-full-width indent">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter Name" formControlName="name">
            <mat-error>
              Name is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Name</strong>
            </mat-hint>
          </mat-form-field>

          <div class="kt-form__group">
            <div class="row">
              <div class="col-md-4 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid" >
                  <mat-label>Quantity goods</mat-label>
                  <input matInput placeholder="Enter Quantity goods" formControlName="quantityGoods">
                  <mat-error>
                    Quantity goods is
                    <strong>required</strong>
                  </mat-error>
                  <mat-hint align="start">Please enter
                    <strong>Quantity goods</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid" >
                  <mat-select placeholder="Enter Type goods" formControlName="typeGoods">
                    <mat-option value="Gems" >Gems</mat-option>
                    <mat-option value="Value" >Value</mat-option>
                  </mat-select>
                  <mat-error>
                    Type goods
                    <strong>required</strong>
                  </mat-error>
                  <mat-hint align="start">Please enter
                    <strong>Type goods</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="kt-form__group">
            <div class="row">
              <div class="col-md-4 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid" >
                  <input matInput placeholder="Enter Price" formControlName="price">
                  <mat-error>
                   Price is
                    <strong>required</strong>
                  </mat-error>
                  <mat-hint align="start">Please enter
                    <strong>Price</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid" >
                  <mat-select placeholder="Enter Type price" formControlName="typePrice">
                    <mat-option value="Gems" >Gold</mat-option>
                    <mat-option value="Value" >RUB</mat-option>
                  </mat-select>
                  <mat-error>
                    Type price
                    <strong>required</strong>
                  </mat-error>
                  <mat-hint align="start">Please enter
                    <strong>Type price</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="kt-form__group">
            <div class="row">
              <div class="col-md-4 kt-margin-bottom-10-mobile" >
                <mat-form-field class="mat-form-field-fluid" >
                  <input matInput placeholder="Enter Old price" formControlName="oldPrice">
                  <mat-error>
                    Old price is
                    <strong>required</strong>
                  </mat-error>
                  <mat-hint align="start">Please enter
                    <strong>Old price</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid" >
                  <mat-select placeholder="Enter Type price" formControlName="typeOldPrice">
                    <mat-option value="Gems" >Gold</mat-option>
                    <mat-option value="Value" >RUB</mat-option>
                  </mat-select>
                  <mat-error>
                    Type price
                    <strong>required</strong>
                  </mat-error>
                  <mat-hint align="start">Please enter
                    <strong>Type price</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>

          <mat-form-field class="example-full-width indent">
            <input type="number" matInput placeholder="Enter Badge extra" formControlName="badgeExtra">
            <mat-error>
              Badge extra is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Badge extra</strong>
            </mat-hint>
            <mat-icon matSuffix>%</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <mat-select placeholder="Enter Category shop" formControlName="categoryShop">
              <mat-option value="Run 3km" >Gems</mat-option>
              <mat-option value="Run 5km" >Value</mat-option>
            </mat-select>
            <mat-error>
              Category shop
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Category shop</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <input type="number" matInput placeholder="Enter Priority" formControlName="priority">
            <mat-error>
              Priority is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Priority</strong>
            </mat-hint>

          </mat-form-field>

          <mat-checkbox class="example-margin ">Daily Deals</mat-checkbox>

        </div>

        <div class="col">
          <div class = "row center">
            <mat-form-field>
              <ngx-mat-file-input formControlName="file" (change)="onFileChange($event)" placeholder="Input file" ></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </div>
          <div class="row center">
            <img  [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:200px"/>
          </div>
        </div>
      </div>


    </form>
  </kt-portlet-body>
</kt-portlet>
