<div *ngIf="user">
  <!--begin::Form-->
  <form class="kt-form kt-form--group-seperator-dashed">

    <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
      Oh snap! Change a few things up and try submitting again.
    </kt-alert>

    <div class="kt-form__section kt-form__section--first">
      <div class="kt-form__group">
        <h4>Change Or Recover Password:</h4>
        <div class="row">
          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter New Password">
              <mat-error>
                New Password is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>New Password</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Verify Password">
              <mat-error>
                Verify Password is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Verify Password</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">
          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <div class="mat-form-field-fluid">
              <h4>Setup Email Notification:</h4>
              <mat-selection-list>
                <span class="kt-section__sub">
					       When To Email.
				        </span>
                <mat-list-option>
                  You have new notifications.
                </mat-list-option>
                <mat-list-option>
                  You're sent a direct message.
                </mat-list-option>
                <mat-list-option>
                  Someone adds you as a friends.
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">
          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <div class="mat-form-field-fluid">
              <h4>Setup Push Notification:</h4>
              <mat-selection-list>
                <span class="kt-section__sub">
					       When To Push.
				        </span>
                <mat-list-option>
                  You have new notifications.
                </mat-list-option>
                <mat-list-option>
                  You're sent a direct message.
                </mat-list-option>
                <mat-list-option>
                  Someone adds you as a friends.
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">
          <div  class="col-md-4 kt-margin-bottom-10-mobile">
            <h4>Block account</h4>
            <mat-form-field class="mat-form-field-fluid">
              <input matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
