<kt-portlet>
  <kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTools>
      <a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10"  mat-raised-button matTooltip="Back to the products list">
        <i class="la la-arrow-left"></i>
        <span class="kt-hidden-mobile">Back</span>
      </a>
      <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" mat-raised-button matTooltip="Reset changes">
        <i class="la la-cog"></i>
        <span class="kt-hidden-mobile">Reset</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
        <span class="kt-hidden-mobile">Save</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="warn" (click)="onSumbit(false)" mat-raised-button matTooltip="Delete">
        <span class="kt-hidden-mobile">Delete</span>
      </a>
      <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
        <button mat-menu-item color="primary">Save & Duplicate</button>
        <button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
        <button mat-menu-item color="primary">Delete</button>
      </mat-menu>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <!--begin::Form-->
    <form [formGroup]="achievementForm" class="kt-form kt-form--group-seperator-dashed">

      <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
        Oh snap! Change a few things up and try submitting again.
      </kt-alert>

      <div class="kt-form__section kt-form__section--first row">
        <div class="col">
          <mat-form-field class="example-full-width indent">
            <input matInput placeholder="Enter Name" formControlName="name">
            <mat-error>
              Name is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Name</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <textarea matInput rows="7" placeholder="Enter Description" formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <mat-select placeholder="Enter Type" formControlName="type">
              <mat-option value="T-shirt" >T-shirt</mat-option>
              <mat-option value="T-shirt2" >T-shirt2</mat-option>
            </mat-select>
            <mat-error>
              Type
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Type</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <mat-select placeholder="Enter Color" formControlName="color">
              <mat-option value="Color" >Color</mat-option>
              <mat-option value="Color2" >Color2</mat-option>
            </mat-select>
            <mat-error>
              Color
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Color</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <mat-select placeholder="Enter Style" formControlName="style">
              <mat-option value="Color" >Style</mat-option>
              <mat-option value="Style2" >Style2</mat-option>
            </mat-select>
            <mat-error>
              Style
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Style</strong>
            </mat-hint>
          </mat-form-field>

          <h4 class="indent">Base stats:</h4>

          <mat-form-field class="example-full-width indent">
            <mat-select placeholder="Enter Unlock at level" formControlName="unlockLevel">
              <mat-option value="level 2" >level 2</mat-option>
              <mat-option value="level 3" >level 3</mat-option>
            </mat-select>
            <mat-error>
              Unlock at level
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Unlock at level</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <mat-select placeholder="Enter Unlock at event" formControlName="unlockEvent">
              <mat-option value="event 2" >event 2</mat-option>
              <mat-option value="event 3" >event 3</mat-option>
            </mat-select>
            <mat-error>
              Unlock at event
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Unlock at event</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <textarea matInput rows="7" placeholder="Enter Unlock Description" formControlName="unlockDescription"></textarea>
          </mat-form-field>

          <div class="kt-form__group">
            <div class="row">
              <div  class="col-md-4 kt-margin-bottom-10-mobile">
                <mat-form-field class="example-full-width indent">
                  <input matInput placeholder="Enter Cost" formControlName="cost">
                  <mat-error>
                    Cost is
                    <strong>required</strong>
                  </mat-error>
                  <mat-hint align="start">Please enter
                    <strong>Cost</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4 kt-margin-bottom-10-mobile">
                <mat-form-field class="example-full-width indent">
                  <mat-select placeholder="Enter Type currency" formControlName="typeCurrency">
                    <mat-option value="Gold" >Gold</mat-option>
                    <mat-option value="Value 2" >Value 2</mat-option>
                  </mat-select>
                  <mat-error>
                    Type currency
                    <strong>required</strong>
                  </mat-error>
                  <mat-hint align="start">Please enter
                    <strong>Type currency</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>

        </div>

        <div class="col">
          <div class = "row center">
            <mat-form-field>
              <ngx-mat-file-input formControlName="file" (change)="onFileChange($event)" placeholder="Input file" ></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </div>
          <div class="row center">
            <img  [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:200px"/>
          </div>
        </div>
      </div>


    </form>
  </kt-portlet-body>
</kt-portlet>
