<kt-portlet>
  <kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
    <ng-container ktPortletTools>
      <a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10"  mat-raised-button matTooltip="Back to the clans list">
        <i class="la la-arrow-left"></i>
        <span class="kt-hidden-mobile">Back</span>
      </a>
      <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
        <i class="la la-cog"></i>
        <span class="kt-hidden-mobile">Reset</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
        <span class="kt-hidden-mobile">Save</span>
      </a>
      <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
        <button mat-menu-item color="primary">Save & Duplicate</button>
        <button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
      </mat-menu>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>

    <mat-tab-group [(selectedIndex)]="selectedTab" *ngIf="clan; else notFoundUser">

      <mat-tab label="Clan" [disabled]="!clan || !clan.id">
        <ng-template matTabContent>
          <kt-clan [clanId$]="clanId$"></kt-clan>
        </ng-template>
      </mat-tab>

      <mat-tab label="Members" [disabled]="!clan || !clan.id">
        <ng-template matTabContent>
          <kt-clan-members [clanId$]="clanId$"></kt-clan-members>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
    <ng-template #notFoundUser>
      <h2>Not found clan</h2>
    </ng-template>

  </kt-portlet-body>
</kt-portlet>

