<kt-portlet>
  <kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTools>
      <a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10"  mat-raised-button matTooltip="Back to the products list">
        <i class="la la-arrow-left"></i>
        <span class="kt-hidden-mobile">Back</span>
      </a>
      <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" mat-raised-button matTooltip="Reset changes">
        <i class="la la-cog"></i>
        <span class="kt-hidden-mobile">Reset</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
        <span class="kt-hidden-mobile">Save</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="warn" (click)="onSumbit(false)" mat-raised-button matTooltip="Delete">
        <span class="kt-hidden-mobile">Delete</span>
      </a>
      <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
        <button mat-menu-item color="primary">Save & Duplicate</button>
        <button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
        <button mat-menu-item color="primary">Delete</button>
      </mat-menu>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <!--begin::Form-->
    <form [formGroup]="achievementForm" class="kt-form kt-form--group-seperator-dashed">

      <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
        Oh snap! Change a few things up and try submitting again.
      </kt-alert>

      <div class="kt-form__section kt-form__section--first row">
        <div class="col">

          <mat-form-field class="example-full-width indent">
            <mat-select placeholder="Enter Rarity" formControlName="rarity">
              <mat-option value="Elite" >Elite</mat-option>
              <mat-option value="Pro" >Pro</mat-option>
            </mat-select>
            <mat-error>
              Rarity
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Rarity</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <input matInput placeholder="Enter Name" formControlName="name">
            <mat-error>
              Name is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Name</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <input matInput placeholder="Enter Rank" formControlName="rank">
            <mat-error>
              Rank is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Rank</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <input matInput placeholder="Enter Number of copies Required" formControlName="number">
            <mat-error>
              Number is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Number</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <input matInput placeholder="Enter Gold Required" formControlName="gold">
            <mat-error>
              Gold is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Gold</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <input matInput placeholder="Enter XP Gained after" formControlName="xp">
            <mat-error>
              XP is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>XP</strong>
            </mat-hint>
          </mat-form-field>

        </div>

        <div class="col">

        </div>
      </div>


    </form>
  </kt-portlet-body>
</kt-portlet>
