<div *ngIf="clan">
  <!--begin::Form-->
  <form [formGroup]="clanForm" class="kt-form kt-form--group-seperator-dashed">

    <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
      Oh snap! Change a few things up and try submitting again.
    </kt-alert>

    <div class="kt-form__section kt-form__section--first">
      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Name" formControlName="name">
              <mat-error>
                Name is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Name</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter Type" formControlName="type">
                <mat-option value="value 1" >Open</mat-option>
                <mat-option value="value 2" >Closed</mat-option>
              </mat-select>
              <mat-error>
                Type
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Type</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div  class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dateCreate">
              <mat-error>
                Date Create is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Date Create</strong>
              </mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter Country" formControlName="country">
                <mat-option value="value 1" >Russia</mat-option>
                <mat-option value="value 2" >England</mat-option>
              </mat-select>
              <mat-error>
                Country
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Country</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter City" formControlName="city">
                <mat-option value="value 1" >Odessa</mat-option>
                <mat-option value="value 2" >Moscow</mat-option>
              </mat-select>
              <mat-error>
                Country
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Country</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter Language" formControlName="language">
                <mat-option value="value 1" >Odessa</mat-option>
                <mat-option value="value 2" >Moscow</mat-option>
              </mat-select>
              <mat-error>
                Language
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Language</strong>
              </mat-hint>
            </mat-form-field>
          </div>



        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">
          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Trophies" formControlName="trophies">
              <mat-error>
                Trophies is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Trophies</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Trophies required" formControlName="trophiesReq">
              <mat-error>
                Trophies required is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Trophies required</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Level" formControlName="level">
              <mat-error>
                Level is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Level</strong>
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Level required" formControlName="levelReq">
              <mat-error>
                Level required is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Level required</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Lider" formControlName="lider">
              <mat-error>
                Lider is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Lider</strong>
              </mat-hint>
            </mat-form-field>
          </div>


        </div>
        <div class="kt-form__group">
          <div class="row">
        <div class="col-md-4 kt-margin-bottom-10-mobile">
          <mat-form-field class="mat-form-field-fluid">
            <textarea matInput rows="7" placeholder="Enter Description" formControlName="description"></textarea>
          </mat-form-field>
        </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
