<div *ngIf="user">
  <!--begin::Form-->
  <form [formGroup]="userForm" class="kt-form kt-form--group-seperator-dashed">

    <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
      Oh snap! Change a few things up and try submitting again.
    </kt-alert>

    <div class="kt-form__section kt-form__section--first">
      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Username" formControlName="name">
              <mat-error>
                Username is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Username</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Email" formControlName="email">
              <mat-error>
                Email Address is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Email Address</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div  class="col-md-4 kt-margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dateBirth">
                      <mat-error>
                        Date Birthday is
                        <strong>required</strong>
                      </mat-error>
                      <mat-hint align="start">Please enter
                        <strong>  Date Birthday</strong>
                      </mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
          </div>

        </div>
      </div>

      <div class="kt-form__group">

        <div class="row">
          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter Country" formControlName="country">
                <mat-option value="Russia" >Russia</mat-option>
                <mat-option value="England" >England</mat-option>
              </mat-select>
              <mat-error>
               Country
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Country</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter City" formControlName="city">
                <mat-option value="Russia" >Russia</mat-option>
                <mat-option value="England" >England</mat-option>
              </mat-select>
              <mat-error>
                City
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>City</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter Language" formControlName="language">
                <mat-option value="Russia" >Russia</mat-option>
                <mat-option value="England" >England</mat-option>
              </mat-select>
              <mat-error>
                Language
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Language</strong>
              </mat-hint>
            </mat-form-field>
          </div>

        </div>

      </div>

      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter Gender" formControlName="gender">
                <mat-option value="Russia" >Russia</mat-option>
                <mat-option value="England" >England</mat-option>
              </mat-select>
              <mat-error>
               Gender
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Gender</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter Measurement units" formControlName="units">
                <mat-option value="Russia" >Russia</mat-option>
                <mat-option value="England" >England</mat-option>
              </mat-select>
              <mat-error>
                Measurement units
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong> Measurement units</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter First day of week" formControlName="firstDay">
                <mat-option value="Russia" >Russia</mat-option>
                <mat-option value="England" >England</mat-option>
              </mat-select>
              <mat-error>
                First day of week
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>First day of week</strong>
              </mat-hint>
            </mat-form-field>
          </div>

        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">
          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input type="number" matInput placeholder="Enter Height" formControlName="height">
              <mat-error>
                Height is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Height</strong>
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input type="number" matInput placeholder="Enter Weight" formControlName="weight">
              <mat-error>
                Weight is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Weight</strong>
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" >
              <mat-select placeholder="Enter Time Zone" formControlName="timeZone">
                <mat-option value="Russia" >Russia</mat-option>
                <mat-option value="England" >England</mat-option>
              </mat-select>
              <mat-error>
                Time Zone
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Time Zone</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Tracker" value="url" disabled>
              <mat-error>
                Tracker is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Tracker</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Facebook" formControlName="facebook">
              <mat-error>
                Facebook is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Facebook</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Strava" formControlName="strava">
              <mat-error>
               Strava is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Strava</strong>
              </mat-hint>
            </mat-form-field>
          </div>

        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">
          <div class="col-md-12 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <textarea matInput rows="7" placeholder="Enter Description" formControlName="description"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>


    </div>
  </form>
</div>
