<div *ngIf="user">
  <!--begin::Form-->
  <form [formGroup]="userForm" class="kt-form kt-form--group-seperator-dashed">

    <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
      Oh snap! Change a few things up and try submitting again.
    </kt-alert>

    <div class="kt-form__section kt-form__section--first">
      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Level" formControlName="level">
              <mat-error>
                Level is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Level</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Clan" formControlName="clan">
              <mat-error>
                Clan is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Clan</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div  class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
              <mat-error>
                Date registration is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Date registration</strong>
              </mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter XP" value="123" disabled>
              <mat-error>
               XP is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>XP</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Total XP" value="123" disabled>
              <mat-error>
                Total XP is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Total XP</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Trophies" value="123" disabled>
              <mat-error>
                Trophies is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Trophies</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">
          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Last authorization" value="123" disabled>
              <mat-error>
                Last authorization is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Last authorization</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter Personal best 1km" value="value 1" disabled>
                <mat-option value="value 1" >value 1</mat-option>
                <mat-option value="value 2" >value 2</mat-option>
              </mat-select>
              <mat-error>
                Personal best 1km
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong> Personal best 1km</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter Personal best 3km" value="value 1" disabled>
                <mat-option value="value 1" >value 1</mat-option>
                <mat-option value="value 2" >value 2</mat-option>
              </mat-select>
              <mat-error>
                Personal best 3km
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong> Personal best 3km</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter 5km" value="value 1" disabled>
                <mat-option value="value 1" >value 1</mat-option>
                <mat-option value="value 2" >value 2</mat-option>
              </mat-select>
              <mat-error>
                5km
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>5km</strong>
              </mat-hint>
            </mat-form-field>
          </div>

        </div>

      </div>

      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter 10km" value="value 1" disabled>
                <mat-option value="value 1" >value 1</mat-option>
                <mat-option value="value 2" >value 2</mat-option>
              </mat-select>
              <mat-error>
                10km
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong> 10km</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="21km" value="value 1" disabled>
                <mat-option value="value 1" >value 1</mat-option>
                <mat-option value="value 2" >value 2</mat-option>
              </mat-select>
              <mat-error>
                21km
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong> 21km</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <mat-select placeholder="Enter 42km" value="value 1" disabled>
                <mat-option value="value 1" >value 1</mat-option>
                <mat-option value="value 2" >value 2</mat-option>
              </mat-select>
              <mat-error>
                42km
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>42km</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
<!--      value="value 1" disabled-->
      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Distance" value="value 1" disabled>
              <mat-error>
                Best Distance km is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Best Distance km</strong>
              </mat-hint>
            </mat-form-field>
          </div>

        </div>
      </div>

      <div class="kt-form__group">
        <div class="row">

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Coins" formControlName="coins">
              <mat-error>
                Coins
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Coins</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-4 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput placeholder="Enter Germs" formControlName="gems">
              <mat-error>
                Germs
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start">Please enter
                <strong>Germs</strong>
              </mat-hint>
            </mat-form-field>
          </div>

        </div>
      </div>

    </div>
  </form>
</div>
