<kt-portlet>
  <kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTools>
      <a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10"  mat-raised-button matTooltip="Back to the products list">
        <i class="la la-arrow-left"></i>
        <span class="kt-hidden-mobile">Back</span>
      </a>
      <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" mat-raised-button matTooltip="Reset changes">
        <i class="la la-cog"></i>
        <span class="kt-hidden-mobile">Reset</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
        <span class="kt-hidden-mobile">Save</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="warn" (click)="onSumbit(false)" mat-raised-button matTooltip="Delete">
        <span class="kt-hidden-mobile">Delete</span>
      </a>
      <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
        <button mat-menu-item color="primary">Save & Duplicate</button>
        <button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
        <button mat-menu-item color="primary">Delete</button>
      </mat-menu>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <!--begin::Form-->
    <form [formGroup]="leverForm" class="kt-form kt-form--group-seperator-dashed">

      <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
        Oh snap! Change a few things up and try submitting again.
      </kt-alert>

      <div class="kt-form__section kt-form__section--first row">

          <mat-form-field class="example-full-width indent">
            <input type="number" matInput placeholder="Enter Level" formControlName="level">
            <mat-error>
              Level is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Level</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <input type="number" matInput placeholder="XP Level Up" formControlName="xp">
            <mat-error>
              Priority is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Priority</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <input type="number" matInput placeholder="Enter Gold" formControlName="gold">
            <mat-error>
               Gold is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Get Gold</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <input type="number" matInput placeholder="Enter Gems" formControlName="gems">
            <mat-error>
             Gems is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Gems</strong>
            </mat-hint>
          </mat-form-field>

          <h4 class="indent">Unlock items</h4>

        <mat-list class="example-full-width indent" role="list">
          <mat-list-item *ngFor="let unlock of unlockItems"  role="listitem" >
            <mat-form-field >
              <mat-select [formControl]="unlock">
                <mat-option value="0">All</mat-option>
                <mat-option value="1">Suspended</mat-option>
                <mat-option value="2">Active</mat-option>
                <mat-option value="3">Pending</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
        </mat-list>
        <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary"  (click)="addUnlock()" mat-raised-button matTooltip="Save & Continue">
          <span class="kt-hidden-mobile">Add</span>
        </a>
      </div>
    </form>
  </kt-portlet-body>
</kt-portlet>
