<kt-portlet>
  <kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
    <ng-container ktPortletTools>
      <a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10"  mat-raised-button matTooltip="Back to the products list">
        <i class="la la-arrow-left"></i>
        <span class="kt-hidden-mobile">Back</span>
      </a>
      <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
        <i class="la la-cog"></i>
        <span class="kt-hidden-mobile">Reset</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
        <span class="kt-hidden-mobile">Save</span>
      </a>
      <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
        <button mat-menu-item color="primary">Save & Duplicate</button>
        <button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
      </mat-menu>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>

    <mat-tab-group [(selectedIndex)]="selectedTab" *ngIf="user; else notFoundUser">

      <mat-tab label="Account" [disabled]="!user || !user.id">
        <ng-template matTabContent>
          <kt-account [userId$]="userId$"></kt-account>
        </ng-template>
      </mat-tab>

      <mat-tab label="Activities" [disabled]="!user || !user.id">
        <ng-template matTabContent>
          <kt-activities [userId$]="userId$"></kt-activities>
        </ng-template>
      </mat-tab>

      <mat-tab label="Friends" [disabled]="!user || !user.id">
        <ng-template matTabContent>
          <kt-friends [userId$]="userId$"></kt-friends>
        </ng-template>
      </mat-tab>

      <mat-tab label="Game profile" [disabled]="!user || !user.id">
        <ng-template matTabContent>
          <kt-game-profile [userId$]="userId$"></kt-game-profile>
        </ng-template>
      </mat-tab>

      <mat-tab label="Settings" [disabled]="!user || !user.id">
        <ng-template matTabContent>
          <kt-settings [userId$]="userId$"></kt-settings>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
    <ng-template #notFoundUser>
      <h2>Not found user</h2>
    </ng-template>

  </kt-portlet-body>
</kt-portlet>

