<kt-portlet>
  <kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTools>
      <a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10"  mat-raised-button matTooltip="Back to the products list">
        <i class="la la-arrow-left"></i>
        <span class="kt-hidden-mobile">Back</span>
      </a>
      <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" mat-raised-button matTooltip="Reset changes">
        <i class="la la-cog"></i>
        <span class="kt-hidden-mobile">Reset</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
        <span class="kt-hidden-mobile">Save</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="warn" (click)="onSumbit(false)" mat-raised-button matTooltip="Delete">
        <span class="kt-hidden-mobile">Delete</span>
      </a>
      <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
        <button mat-menu-item color="primary">Save & Duplicate</button>
        <button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
        <button mat-menu-item color="primary">Delete</button>
      </mat-menu>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <!--begin::Form-->
    <form [formGroup]="achievementForm" class="kt-form kt-form--group-seperator-dashed">

      <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
        Oh snap! Change a few things up and try submitting again.
      </kt-alert>

      <div class="kt-form__section kt-form__section--first row">
        <div class="col">
          <mat-form-field class="example-full-width indent">
            <input matInput placeholder="Enter Name" formControlName="name">
            <mat-error>
              Name is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Name</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <textarea matInput rows="7" placeholder="Enter Description" formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <mat-select placeholder="Enter Rarity" formControlName="rarity">
              <mat-option value="Pro" >Pro</mat-option>
              <mat-option value="Elite" >Elite</mat-option>
            </mat-select>
            <mat-error>
             Rarity
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Rarity</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <mat-select placeholder="Enter Type" formControlName="type">
              <mat-option value="Fighter" >Fighter</mat-option>
              <mat-option value="Beginner" >Beginner</mat-option>
            </mat-select>
            <mat-error>
              Type
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Type</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <mat-select placeholder="Enter Unlock at level" formControlName="unlock">
              <mat-option value="level 5" >level 5</mat-option>
              <mat-option value="level 3" >level 3</mat-option>
            </mat-select>
            <mat-error>
              Unlock at level
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Unlock at level</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <mat-select placeholder="Enter Location" formControlName="location">
              <mat-option value="Forest" >Forest</mat-option>
              <mat-option value="Beginner" >Beginner</mat-option>
            </mat-select>
            <mat-error>
              Location
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Location</strong>
            </mat-hint>
          </mat-form-field>

          <h4 class="indent">Base stats</h4>

          <mat-form-field class="example-full-width indent">
            <input type="number" matInput placeholder="Enter Speed" formControlName="speed">
            <mat-error>
              Speed is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Speed</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <input type="number" matInput placeholder="Enter Endurance" formControlName="endurance">
            <mat-error>
              Endurance is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Endurance</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <input type="number" matInput placeholder="Enter Climb" formControlName="climb">
            <mat-error>
              Climb is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Climb</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <input type="number" matInput placeholder="Enter Recovery" formControlName="recovery">
            <mat-error>
              Recovery is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Recovery</strong>
            </mat-hint>
          </mat-form-field>

        </div>

        <div class="col">
          <div class = "row center">
            <mat-form-field>
              <ngx-mat-file-input formControlName="file" (change)="onFileChange($event)" placeholder="Input file" ></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </div>
          <div class="row center">
            <img  [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:200px"/>
          </div>
        </div>
      </div>


    </form>
  </kt-portlet-body>
</kt-portlet>
