<kt-portlet>
  <kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTools>
      <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" mat-raised-button matTooltip="Reset changes">
        <i class="la la-cog"></i>
        <span class="kt-hidden-mobile">Reset</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
        <span class="kt-hidden-mobile">Save</span>
      </a>
      <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="warn" (click)="onSumbit(false)" mat-raised-button matTooltip="Delete">
        <span class="kt-hidden-mobile">Delete</span>
      </a>
      <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
        <button mat-menu-item color="primary">Save & Duplicate</button>
        <button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
        <button mat-menu-item color="primary">Delete</button>
      </mat-menu>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <!--begin::Form-->
    <form [formGroup]="achievementForm" class="kt-form kt-form--group-seperator-dashed">

      <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
        Oh snap! Change a few things up and try submitting again.
      </kt-alert>

      <div class="kt-form__section kt-form__section--first row">
        <div class="col">
          <mat-form-field class="example-full-width indent">
            <input matInput placeholder="Enter Name" formControlName="name">
            <mat-error>
              Name is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Name</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <textarea matInput rows="7" placeholder="Enter Description" formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <input type="number" matInput placeholder="Enter Priority" formControlName="priority">
            <mat-error>
              Priority is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Priority</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent">
            <mat-select placeholder="Enter Previous Achievement" formControlName="previous">
              <mat-option value="Run 3km" >Run 3km</mat-option>
              <mat-option value="Run 5km" >Run 5km</mat-option>
            </mat-select>
            <mat-error>
              Previous Achievement
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Previous Achievement</strong>
            </mat-hint>
          </mat-form-field>

          <h4 class="indent">Completion conditions:</h4>

          <mat-form-field class="example-full-width indent">
            <mat-select placeholder="Enter   Max or Min" formControlName="maxOrMin">
              <mat-option value="Run 3km" >Min</mat-option>
              <mat-option value="Run 5km" >Max</mat-option>
            </mat-select>
            <mat-error>
              Max or Min
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong> Max or Min</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width indent" >
            <mat-select placeholder="Enter Total or Best" formControlName="totalBest">
              <mat-option value="Run 3km" >Best (Total)</mat-option>
              <mat-option value="Run 5km" >Value</mat-option>
            </mat-select>
            <mat-error>
              Total or Best
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Total or Best</strong>
            </mat-hint>
          </mat-form-field>
          <mat-checkbox class="kt-form__group" disabled>

            <div class="row">
              <div class="col-md-4 kt-margin-bottom-10-mobile">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Start date"  formControlName="start_datePeriod">
                    <mat-error>
                      Start period is
                      <strong >required</strong>
                    </mat-error>
                    <mat-hint align="start">Please enter
                      <strong>Start period</strong>
                    </mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
              </div>
              <div class="col-md-4 kt-margin-bottom-10-mobile">
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="picker1" placeholder="End date"  formControlName="end_datePeriod">
                  <mat-error>
                    End period is
                    <strong >required</strong>
                  </mat-error>
                  <mat-hint align="start">Please enter
                    <strong>End period</strong>
                  </mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
           </mat-checkbox >
            <div style="margin-top: 15px">
                      <mat-checkbox class="kt-form__group indent" disabled>
                          <div class="row">
                            <div  class="col-md-4 kt-margin-bottom-10-mobile inde">
                              <mat-form-field class="example-full-width">
                                <input type="number" matInput placeholder="Enter Time" formControlName="time">
                                <mat-error>
                                  Time is
                                  <strong>required</strong>
                                </mat-error>
                                <mat-hint align="start">Please enter
                                  <strong>Time</strong>
                                </mat-hint>
                              </mat-form-field>
                            </div>
                            <div  class="col-md-4 kt-margin-bottom-10-mobile">
                              <mat-form-field class="example-full-width">
                                <input type="number" matInput placeholder="Enter Pace/min" value="123" disabled>
                                <mat-error>
                                  Pace/min is
                                  <strong>required</strong>
                                </mat-error>
                                <mat-hint align="start">Please enter
                                  <strong> Pace/min</strong>
                                </mat-hint>
                              </mat-form-field>
                            </div>
                          </div>
                      </mat-checkbox>
            </div>
          <div class="row" style="margin-left: 1px;margin-top: 15px;">
            <mat-checkbox class="example-full-width indent" disabled>
                  <mat-form-field >
                    <input type="number" matInput placeholder="Enter Distance" formControlName="distance">
                    <mat-error>
                      Distance is
                      <strong>required</strong>
                    </mat-error>
                    <mat-hint align="start">Please enter
                      <strong>Distance</strong>
                    </mat-hint>
                  </mat-form-field>
            </mat-checkbox>
          </div>
          <div class="row" style="margin-left: 1px">
            <mat-checkbox class="example-full-width indent" disabled>
                <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="Enter Total distance" formControlName="totalDistance">
                <mat-error>
                  Total distance is
                  <strong>required</strong>
                </mat-error>
                <mat-hint align="start">Please enter
                  <strong>Total distance</strong>
                </mat-hint>
              </mat-form-field>
            </mat-checkbox>
          </div>
          <div class="row" style="margin-left: 1px">
            <mat-checkbox class="example-full-width indent" disabled>
              <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="Enter Elevation" formControlName="elevation">
                <mat-error>
                  Elevation distance is
                  <strong>required</strong>
                </mat-error>
                <mat-hint align="start">Please enter
                  <strong>Elevation</strong>
                </mat-hint>
              </mat-form-field>
            </mat-checkbox>
          </div>
          <div class="row" style="margin-left: 1px">
            <mat-checkbox class="example-full-width indent" disabled>
              <mat-form-field class="example-full-width ">
                <input type="number" matInput placeholder="Enter Total elevation" formControlName="totalElevation">
                <mat-error>
                  Total elevation distance is
                  <strong>required</strong>
                </mat-error>
                <mat-hint align="start">Please enter
                  <strong> Total elevation</strong>
                </mat-hint>
              </mat-form-field>
            </mat-checkbox>
          </div>


        </div>

        <div class="col">
          <div class = "row center">
            <mat-form-field>
              <ngx-mat-file-input formControlName="file" (change)="onFileChange($event)" placeholder="Input file" accept=".png,.jpg,.jpeg"></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </div>
          <div class="row center">
            <img [src]="imageSrc"  *ngIf="imageSrc" style="height: 200px; width:200px"/>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
</kt-portlet>
