/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";

.btn-strava{
  background-color: #fc5200 !important;
  border-color:#fc5200;
  color: #fff !important;;
}

.btn-strava:hover{
  background-color: #E45200 !important;;
  color: #fff !important;;
}
.center {
  display: flex;
  justify-content: center;
}

.indent{
  padding: 0 0 20px 0;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {

}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

.inputfile-5 + label {
  color: #fff;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
  color: #fff;
}

.inputfile-5 + label figure {
  width: 100px;
  height: 135px;
  background-color: #3e51d3;
  display: block;
  position: relative;
  padding: 30px;
  margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
  background-color: #3e51d3;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
}

.inputfile-5 + label figure::before {
  border-top: 20px solid #dfc8ca;
  border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
  border-bottom: 20px solid #3e51d3;
  border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
  border-bottom-color: #3e51d3;
}

.inputfile-5 + label svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}


// header base skins
.kt-header-base-light {
	@import "sass/global/layout/header/skins/base/light.scss";
}
.kt-header-base-dark {
	@import "sass/global/layout/header/skins/base/dark.scss";
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: darkgray !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
  height: 1.5px !important;
}
// header menu skins
.kt-header-menu-light {
	@import "sass/global/layout/header/skins/menu/light.scss";
}
.kt-header-menu-dark {
	@import "sass/global/layout/header/skins/menu/dark.scss";
}

// brand skins
.kt-brand-dark {
	@import "sass/global/layout/brand/skins/dark.scss";
}
.kt-brand-light {
	@import "sass/global/layout/brand/skins/light.scss";
}

// aside skins
.kt-aside-dark {
	@import "sass/global/layout/aside/skins/dark.scss";
}
.kt-aside-light {
	@import "sass/global/layout/aside/skins/light.scss";
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}

.position-static {
	position: static;
}

.kt-badge.kt-badge--pill{
  width: 80px !important;
}

.margin-button{
  margin: 5px;
}

.kt-badge.kt-badge--pill-rarity {
  border-radius: 0.4rem;
  opacity: .8;
}
.kt-badge.kt-badge--inline{
  width: 80px !important;
}
.kt-badge.kt-badge--pro{
  color: orange;
  background-color: #FFF6E4;
}
.kt-badge.kt-badge--elite{
  color: purple;
  background-color: #F7EDFA;
}
.kt-badge.kt-badge--common{
  color: gray;
  background-color: #F7F7F7;
}
.kt-badge.kt-badge--legend{
  color: green;
  background-color: #ECF9F6;
}
//color: #1bc5bd;
//background-color: #c9f7f5;
